@font-face {
  font-family: 'SulMono';
  src: url('/fonts/sulmono.woff2') format('woff2')
}

:root {
  --red: #E65F5C;
  --maroon: #B33951;
  --grey: #E7EAEE;
  --yellow: #E9DF00;
  --darkgrey: #111111;
  --black: #000;
  --font: 'SulMono'
}

body {
  font-family: "SulMono", 'SF Mono', Menlo, Consolas, Monaco, Liberation Mono,
    Lucida Console, monospace;
  color: var(--grey);
  background-color: var(--black);
  height: 100vh;
  width: 100%;
  text-shadow: 0 0 5px var(--grey);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 130%;
}

#svelte {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
.noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/images/noise.gif');
  opacity: .05;
  pointer-events: none;
}
